@import "normalize.less";


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

body{
	background: #fbfaf7 url('../../img/bg_pattern.png') repeat center top;
}

.logo{
	text-align: center;
	margin: 20px 0;
}

h1 {
	
	color: red;
}

.container{
}







@import "media-queries.less";
@import "helpers.less";
@import "print.less";
